/* @import './normalize.css'; */
@import "tailwindcss";
@import './base.css';

@theme {
  --color-pasha: #42b883;
  --color-anton: #35495e;
  --breakpoint-lgbt: 90rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--color-pasha);
  color: var(--color-pasha);
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-green);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}